.vc_do_icon{margin-bottom:35px;}
.vc_custom_1742467691449{padding-top: 70px !important;padding-bottom: 0px !important;}
.vc_custom_1505667936730{padding-top: 100px !important;padding-bottom: 100px !important;}
.vc_custom_1742467337529{padding-top: 60px !important;}
.vc_custom_1741186096164{margin-bottom: 25px !important;}
.vc_custom_1505667908324{margin-bottom: 0px !important;}
.vc_custom_1741186454131{margin-top: 20px !important;margin-right: 20px !important;margin-bottom: 20px !important;margin-left: 20px !important;}
.vc_custom_1741186463401{margin-top: 20px !important;margin-right: 20px !important;margin-bottom: 20px !important;margin-left: 20px !important;}
.vc_custom_1741186472866{margin-top: 20px !important;margin-right: 20px !important;margin-bottom: 20px !important;margin-left: 20px !important;}
.vc_custom_1741186482981{margin-top: 20px !important;margin-right: 20px !important;margin-bottom: 20px !important;margin-left: 20px !important;}
.vc_custom_1741186490150{margin-top: 20px !important;margin-right: 20px !important;margin-bottom: 20px !important;margin-left: 20px !important;}
.vc_custom_1741186502464{margin-top: 20px !important;margin-right: 20px !important;margin-bottom: 20px !important;margin-left: 20px !important;}
.vc_custom_1741186513366{margin-top: 20px !important;margin-right: 20px !important;margin-bottom: 20px !important;margin-left: 20px !important;}
.vc_custom_1741186523567{margin-top: 20px !important;margin-right: 20px !important;margin-bottom: 20px !important;margin-left: 20px !important;}
.vc_custom_1741186615346{margin-bottom: 30px !important;}
.vc_custom_1741186625800{margin-bottom: 35px !important;}
